.change-avatar-container {
    position: relative;
}

.change-avatar-icon {
    cursor: pointer;
}

.change-avatar-btn {
    position: absolute;
    bottom: -1px;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}